<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:22</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AngCal_Test.getDriver()[pri:0, instance:testcases.AngCal_Test@1fb700ee]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:33</td>   <td>10818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:36</td>   <td>13924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:38</td>   <td>16191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:40</td>   <td>18467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:43</td>   <td>20780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:45</td>   <td>23050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:47</td>   <td>25460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:50</td>   <td>27842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:52</td>   <td>30099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:54</td>   <td>32324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.calculatorWebsiteTest(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcases.AngCal_Test@1fb700ee]">calculatorWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>19/12/23 19:58:56</td>   <td>34664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AngCal_Test.angluarWebsiteTest()[pri:2, instance:testcases.AngCal_Test@1fb700ee]">angluarWebsiteTest</td> 
  <td>main@1107217291</td>   <td></td> </tr>
</table>
